# 1. Бинарные и скомпилированные файлы Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
app

# 2. Файлы и настройки IDE / Редакторов
.idea/
.vscode/
*.swp
*~

# 3. Служебные файлы операционных систем
.DS_Store
Thumbs.db
